html {
  font-family: 'Alatsi', sans-serif;
}

h1 {
  text-align: center;
}

.players {
  width: 200px;
  display: block;
  margin: 0 auto;
}

html {
background-color: rgb(235, 243, 238)
}

body {
  margin: 0px 20px;
}

nav {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav li {
  list-style-type: none;
  margin: 10px 0;
  text-decoration: none;
}

nav a {
  text-decoration: none;
}

.iant-link {
  color: green
}

.iant-link:hover {
  color: red
}


.inner {
  border: 5px solid red;
  width: 300px;
  transform: rotate(20deg);
  margin-left: 50px;
}
