html {
  font-family: "Alatsi", sans-serif;
}

h1 {
  text-align: center;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #dddddd;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  background-color: white;
  border-radius: 5px;
}
